@import "tailwindcss";
@import "@heroui/styles";

@custom-variant dark (&:is(.dark *));

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .avatar {
    @apply rounded-full;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
